<title>Global Professional Connect</title>
<link rel="icon" type="image/x-icon" href="/public/favicon.ico">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" type="text/css" href="<%- assetLink %>/css/global/reset.css"/>
<link rel="stylesheet" type="text/css" href="<%- assetLink %>/css/global/fonts.css"/>
<link rel="stylesheet" type="text/css" href="<%- assetLink %>/css/common/navbar.css"/>
<link rel="stylesheet" type="text/css" href="<%- assetLink %>/css/profile/profile.css"/>
<link rel="stylesheet" type="text/css" href="<%- assetLink %>/css/common/footer.css"/>
<link rel="stylesheet" type="text/css" href="<%- assetLink %>/css/common/loader.css"/>
<link rel="stylesheet" type="text/css" href="<%- assetLink %>/css/common/sign-in-sign-up.css"/>
