<title>Global Professional Connect</title>
<link rel="icon" type="image/x-icon" href="/public/favicon.ico">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet" type="text/css" href="<%- assetLink %>/css/global/reset.css"/>
<link rel="stylesheet" type="text/css" href="<%- assetLink %>/css/global/fonts.css"/>
<link rel="stylesheet" type="text/css" href="<%- assetLink %>/css/common/navbar.css"/>
<link rel="stylesheet" type="text/css" href="<%- assetLink %>/css/job-posting/job-posting.css"/>
<link rel="stylesheet" type="text/css" href="<%- assetLink %>/css/common/footer.css"/>
